@font-face {
  font-family: PlusJakartaSans;
  src: url('../font/PlusJakartaSans.ttf');

}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
img {border:0}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal}

  /* input默认字体颜色 */
input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #DBDBDB;
  }
 
input:-moz-placeholder,
  textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #DBDBDB;
  }

input::-moz-placeholder,
  textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #DBDBDB;
  }
 
input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #DBDBDB;

  }


.bill-border-style {
  border: 1px solid #AC7A3C;
  border-radius: 5px;
}

body {
  font-family: 'PlusJakartaSans', sans-serif;
}
.bg-0376C9 {background:#0376C9}
.bg-ECF5FE {background:#ECF5FE}
.bg-F2F2F2 {background:#F2F2F2}
.bg-FAFAFA {background:#FAFAFA}
.bg-FEFFF1 {background:#FEFFF1}
.bg-F1F2F7 {background:#F1F2F7}
.bg-1C1F24 {background:#1C1F24}
.bg-242424 {background:#242424}
.bg-000 {background:#000}
.bg-fff {background:#fff}
.h-100 {height:100%}
.h-50 {height:50px}
.h-40 {height:40px}
.h-30 {height:30px}
.b-000 {border:1px solid #000}
.b-none {border:none}
.b-DCDCDC {border:1px solid #DCDCDC}
.b-DCE9FF {border:1px solid #DCE9FF}
.b-F2F2F2 {border:1px solid #F2F2F2}

.boxStyle {box-shadow: 0 0 10px #EBEBEB;}
.uploadStyle {border:1px solid #DCE9FF ;border-radius: 10px;}
.border-t-EBEBEB {border-top: 1px solid #EBEBEB}
.border-b-E6E6E6 {border-top: 1px solid #E6E6E6}
.border-b-d5d5d5 {border-top: 1px solid #d5d5d5}
.border-t-EBEBEB {border-top: 1px solid #EBEBEB}
.border-t-EBEBEB {border-top: 1px solid #EBEBEB}
.border-b-232426 {border-top: 1px solid #232426}
.border-b-E6E6E6 {border-top: 1px solid #E6E6E6}
.border-b-DEDFCF {border-bottom: 1px solid #DEDFCF}
.border-b-EEEEEE {border-bottom: 1px solid #EEEEEE}
.border-b-D7D7D7 {border-bottom: 1px solid #D7D7D7}
.border-b-DEDEDE {border-bottom: 1px solid #DEDEDE}
.border-r-round {border-radius: 50%;}
.border-r-20 {border-radius: 20px;}
.border-r-15 {border-radius: 15px;}
.border-r-10 {border-radius: 10px;}
.border-r-8 {border-radius: 8px;}
.border-r-5 {border-radius: 5px;}
.d-inlineblock {display: inline-block;}


.grad-btn1 { background:linear-gradient(to bottom, #FFD862, #E67A5E);}
.grad-btn2 { background:linear-gradient(to right, #E89551, #FFA032);}
.grad-btn3 { background:linear-gradient(to right, #F9826B, #F86D64);}
.grad-btn4 { background:linear-gradient(to bottom, #F98250, #F7576E);}
.grad-msg1 { background:linear-gradient(to bottom, #FFEABF, #FFC88C);}
.grad-msg2 { background:linear-gradient(to bottom, #FFE4D9, #FFFFFF);}
.grad-msg4 { background:linear-gradient(to right, #FF7E70, #FFB5BC);}


.bg {background-color: #000;}
.bg-msg {background-color: #FFEEE7;}
.bg-msg2 {background-color: #FFA37D;}
.bg-msg3 {background-color: #FF7F71;}
.f-l {float:left}
.f-r {float:right}
.t-l {text-align: left;}
.t-c {text-align: center;}
.t-r {text-align: right;}
.m-l-2 {margin-left:2px}
.m-l-3 {margin-left:3px}
.m-l-5 {margin-left:5px}
.m-l-8 {margin-left:8px}
.m-l-10 {margin-left:10px}
.m-l-12 {margin-left:12px}
.m-l-15 {margin-left:15px}
.m-l-20 {margin-left:20px}
.m-l-30 {margin-left:30px}
.m-r-2 {margin-right:2px}
.m-r-3 {margin-right:3px}
.m-r-5 {margin-right:5px}
.m-r-10 {margin-right:10px}
.m-r-15 {margin-right:15px}
.m-r-20 {margin-right:20px}
.m-r-25 {margin-right:25px}
.m-t-2 {margin-top:2px !important}
.m-t-3 {margin-top:3px !important}
.m-t-5 {margin-top:5px !important}
.m-t-8 {margin-top:8px !important}
.m-t-10 {margin-top:10px !important}
.m-t-15 {margin-top:15px !important}
.m-t-20 {margin-top:20px !important}
.m-t-25 {margin-top:25px !important}
.m-t-30 {margin-top:30px !important}
.m-t-35 {margin-top:35px !important}
.m-t-40 {margin-top:40px !important}
.m-t-50 {margin-top:50px !important}
.m-t-60 {margin-top:60px !important}
.m-t-70 {margin-top:70px !important}
.m-t-80 {margin-top:80px !important}
.m-t-90 {margin-top:90px !important}
.m-t-100 {margin-top:100px}
.m-t-110 {margin-top:110px}
.m-t-120 {margin-top:120px}
.m-t-150 {margin-top:150px}
.m-t-170 {margin-top:170px}
.m-t-200 {margin-top:200px}
.m-t-250 {margin-top:250px}
.m-b-5 {margin-bottom:5px}
.m-b-10 {margin-bottom:10px}
.m-b-20 {margin-bottom:20px !important}
.m-b-50 {margin-bottom:50px}
.m-50-100 {margin:50px 100px}
.m-0-auto {margin:0 auto}

.rem-07 {font-size: 0.7rem;}
.rem-08 {font-size: 0.8rem;}
.rem-09 {font-size: 0.9rem;}
.rem-1 {font-size: 1rem;}
.rem-11 {font-size: 1.1rem;}
.rem-12 {font-size: 1.2rem;}
.rem-13 {font-size: 1.3rem;}
.rem-14 {font-size: 1.4rem;}
.rem-15 {font-size: 1.5rem;}
.rem-16 {font-size: 1.6rem;}
.rem-14 {font-size: 1.7rem;}
.rem-18 {font-size: 1.8rem;}
.rem-19 {font-size: 1.9rem;}
.rem-2 {font-size: 2rem;}
.rem-28 {font-size: 2.8rem;}
.rem-3 {font-size: 3rem;}
.text-w-100 {font-weight: 100;}
.text-w-300 {font-weight: 300;}
.text-w-500 {font-weight: 500;}
.text-w-700 {font-weight: 700;}
.text-w-900 {font-weight: 900;}
.text-color-40B7CA {color:#40B7CA}
.text-color-BA591A {color:#BA591A}
.text-color-FC3C61 {color:#FC3C61}
.text-color-FF4F50 {color:#FF4F50}
.text-color-A67F63 {color:#A67F63}
.text-color-703D19 {color:#703D19}
.text-color-F54F79 {color:#F54F79}
.text-color-E87C34 {color:#E87C34}
.text-color-BDBCCA {color:#BDBCCA}
.text-color-929294 {color:#929294}
.text-color-B8B8B8 {color:#B8B8B8}
.text-color-939499 {color:#939499}
.text-color-70A0CA {color:#70A0CA}
.text-color-908F97 {color:#908F97}
.text-color-030303 {color:#030303}
.text-color-9F9F9F {color:#9F9F9F}
.text-color-B37CFB {color:#B37CFB}
.text-color-5F36B0 {color:#5F36B0}
.text-color-E2E2E2 {color:#E2E2E2}
.text-color-676767 {color:#676767}
.text-color-F6F6F6 {color:#F6F6F6}
.text-color-D3D3D4 {color:#D3D3D4}
.text-color-1F1F1F {color:#1F1F1F}
.text-color-0A0B0D {color:#0A0B0D}
.text-color-838488 {color:#838488}
.text-color-3C6FDF {color:#3C6FDF}
.text-color-3972FE {color:#3972FE}
.text-color-1684EE {color:#1684EE}
.text-color-000002 {color:#000002}
.text-color-878A8F {color:#919499}
.text-color-376FB0 {color:#376FB0}
.text-color-262729 {color:#262729}
.text-color-9898A6 {color:#95959E}
.text-color-9D9DA5 {color:#9D9DA5}
.text-color-A4A5AC {color:#A4A5AC}
.text-color-FF4F50 {color:#FF4F50}
.text-color-A67F63 {color:#A67F63}
.text-color-703D19 {color:#703D19}
.text-color-909098 {color:#909098}
.text-color-C4C7CC {color:#C4C7CC}
.text-color-242424 {color:#242424}
.text-color-1F74DE {color:#1F74DE}
.text-color-fff {color:#fff}
.text-color-000 {color:#000}
.text-indent-5 {text-indent:5px}
.text-indent-8 {text-indent:8px}
.text-indent-10 {text-indent:10px}
.text-indent-15 {text-indent:15px}
.text-indent-20 {text-indent:20px}
.text-indent-30 {text-indent:30px}
.text-nowrap {white-space:nowrap;}
.line-h-30 {line-height: 30px;}
.line-h-25 {line-height: 25px;}
.line-h-23 {line-height: 23px;}
.line-h-20 {line-height: 20px;}
.line-h-15 {line-height: 15px;}
.line-h-10 {line-height: 10px;}


.p-5-5 {padding:5px 5px !important;}
.p-5-10 {padding:5px 10px !important;}
.p-15-15 {padding:15px 15px !important;}
.p-15-0 {padding:15px 0 !important;}
.p-20-0 {padding:20px 0 !important;}
.p-10-5 {padding:10px 10px;}
.p-10-10 {padding:10px;}
.p-10-15 {padding:10px 15px;}
.p-13-13 {padding:13px;}
.p-10-20 {padding:10px 20px !important;}
.p-15-20 {padding:15px 20px !important;}
.p-20-10 {padding:20px 10px}
.p-20-15 {padding:20px 15px}
.p-20-20 {padding:20px}
.p-20-30 {padding:20px 30px}
.p-18-20 {padding:18px 20px}
.p-0-5 {padding:0 5px;}
.p-0-10 {padding:0 10px;}
.p-0-15 {padding:0 15px}
.p-0-20 {padding:0 20px}
.p-0-30 {padding:0 30px}
.p-5-5 {padding:5px 5px}
.p-3-0 {padding:3px 0}
.p-5-0 {padding:5px 0}
.p-6-0 {padding:6px 0}
.p-8-0 {padding:8px 0}
.p-10-0 {padding:10px 0}
.p-12-0 {padding:12px 0}
.p-15-0 {padding:15px 0}
.p-20-0 {padding:20px 0}
.p-25-0 {padding:25px 0}
.p-25-10 {padding:25px 10px}
.p-30-10 {padding:30px 10px}
.p-30-0 {padding:30px 0}
.p-35-0 {padding:35px 0}
.p-40-0 {padding:40px 0}
.p-50-0 {padding:50px 0}
.p-60-0 {padding:60px 0}
.p-70-0 {padding:70px 0}
.p-80-0 {padding:80px 0}
.p-t50-b30 {padding:50px 0 30px 0}
.p-t-10 {padding-top:10px}
.p-t-20 {padding-top:20px}
.p-t-30 {padding-top:30px}
.p-t-40 {padding-top:40px}
.p-t-50 {padding-top:50px}
.p-t-100 {padding-top:100px}
.p-t-150 {padding-top:150px}
.p-t-200 {padding-top:200px}
.p-t-300 {padding-top:300px}
.p-b-5 {padding-bottom:5px}
.p-b-10 {padding-bottom:10px}
.p-b-15 {padding-bottom:15px !important}
.p-b-20 {padding-bottom:20px !important}
.p-b-30 {padding-bottom:30px}
.p-b-40 {padding-bottom:40px}
.p-b-50 {padding-bottom:50px !important}
.p-b-80 {padding-bottom:80px !important}
.p-15-10 {padding:15px 10px}
.p-3-5 {padding:3px 5px}
.width-5 {width:5%; display: inline-block;}
.width-10 {width:10%; display: inline-block;}
.width-15 {width:15%; display: inline-block;}
.width-20 {width:20%; display: inline-block;}
.width-25 {width:24%; display: inline-block;}
.width-27 {width:27%; display: inline-block;}
.width-28 {width:28%; display: inline-block;}
.width-29 {width:29%; display: inline-block;}
.width-30 {width:30%; display: inline-block;}
.width-32 {width:32%; display: inline-block;}
.width-33 {width:33%; display: inline-block;}
.width-35 {width:35%; display: inline-block;}
.width-40 {width:40%; display: inline-block;}
.width-45 {width:45%; display: inline-block;}
.width-48 {width:48%; display: inline-block;}
.width-49 {width:49%; display: inline-block;}
.width-50 {width:50%; display: inline-block;}
.width-60 {width:60%; display: inline-block;}
.width-65 {width:65%; display: inline-block;}
.width-68 {width:68%; display: inline-block;}
.width-70 {width:70%; display: inline-block;}
.width-75 {width:75%; display: inline-block;}
.width-77 {width:77%; display: inline-block;}
.width-80 {width:80%;}
.width-83 {width:83%;}
.width-85 {width:85%;}
.width-86 {width:86%;}
.width-88 {width:88%;}
.width-90 {width:90%; max-width: 400px !important}
.width-92 {width:92%; max-width: 400px !important}
.width-93 {width:93%;}
.width-94 {width:94%;}
.width-95 {width:95%;}
.width-97 {width:97%;}
.width-98 {width:98%;}
.width-99 {width:99%;}
.width-100 {width:100%;}



.box-style {display: flex; flex-wrap: wrap; justify-content: flex-start;}
.box-item-style {margin: 0 0.5%;}
.popMaxWidth {max-width: 380px !important;}

.textBaseline {align-items: baseline}
.underline {text-decoration: underline;}
.underline2 {text-decoration: underline; text-decoration-thickness: 2px;}

.flex-column-space-between {display: flex; justify-content: space-between; flex-direction: column; }
.flex-space-between {display: flex; justify-content: space-between; }
.flex-space-around {display: flex; justify-content: space-around; }
.flex-space-evenly {display: flex; justify-content: space-evenly; }
.flex-space-start  {display: flex; justify-content: flex-start; }
.flex-space-end {display: flex; justify-content: flex-end; }
.flex-center {display: flex; justify-content: center; }
.flex {display: flex; }
.flex-column-center {display: flex; justify-content: center; flex-direction: column; }


.w-break {word-break:break-all !important}

.btnStyle {
  border-radius: 18px;
  background:linear-gradient(to bottom, #F88450, #FA546D);
  color: #fff;
  font-size: 0.8rem;
  padding:10px;
  text-align: center;
}
.btnStyle2 {
  border-radius: 15px;
  background:linear-gradient(to bottom, #F88450, #FA546D);
  color: #fff;
  font-size: 0.7rem;
  padding:8px 0;
  text-align: center;
}

.scrollFixHeight {
  min-height:100vh;
  overflow:hidden
}

.selectStyle {
  padding:2px 2px;
  border-radius: 10px;
}